In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import pyspark.sql.functions as f
from pyspark.sql.types import *

spark = SparkSession.builder.master('local[2]').getOrCreate()

In [8]:


globalmobilepenetration = spark.read.csv("hdfs://hdfs-nn:9000/user/Projeto TABD/Bronze/Global-mobile-social-network-penetration.csv", 
                                                 header=False, 
                                                 sep=";")

In [9]:
globalmobilepenetration.printSchema()
globalmobilepenetration.show()
globalmobilepenetration.toPandas()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)

+----------------+---+
|             _c0|_c1|
+----------------+---+
|    Eastern Asia| 70|
|Northern America| 61|
|   South America| 61|
| Northern Europe| 59|
| Central America| 59|
|  Southeast Asia| 56|
|         Oceania| 51|
| Southern Europe| 50|
|    Western Asia| 46|
|  Western Europe| 45|
|       Caribbean| 44|
|  Global average| 42|
|  Eastern Europe| 40|
| Northern Africa| 37|
| Southern Africa| 36|
|   Southern Asia| 22|
|  Western Africa| 12|
|    Central Asia|  8|
|  Eastern Africa|  7|
|   Middle Africa|  6|
+----------------+---+

                 _c0 _c1
0       Eastern Asia  70
1   Northern America  61
2      South America  61
3    Northern Europe  59
4    Central America  59
5     Southeast Asia  56
6            Oceania  51
7    Southern Europe  50
8       Western Asia  46
9     Western Europe  45
10         Caribbean  44
11    Global average  42
12    Eastern Europe  40
13   Northern Africa  37
14   Southern Africa  36
15     Southern Asia  22
16    Western Africa  12
17      Central Asia   8
18    Eastern Africa   7
19     Middle Africa   6

In [10]:
globalmobilepenetration = globalmobilepenetration.selectExpr("`_c0` as region",
                                                             "'0' as social_media_users",
                                                             "'2020' as year",
                                                             "`_c1` as mobile_penetration_percentage",
                                                            "'0' as social_media_users_percentage")
## Trocar a ordem para ficar igual aos outros
globalmobilepenetration = globalmobilepenetration[['region', 'social_media_users', 'year', 'mobile_penetration_percentage', 'social_media_users_percentage']]


## Converter o tipo da coluna adicionada para ficar igual

globalmobilepenetration = globalmobilepenetration.withColumn(
    "social_media_users",
    globalmobilepenetration["social_media_users"].cast(DoubleType()))
globalmobilepenetration = globalmobilepenetration.withColumn(
    "year",
    globalmobilepenetration["year"].cast(IntegerType()))

globalmobilepenetration = globalmobilepenetration.withColumn(
    "mobile_penetration_percentage",
    globalmobilepenetration["mobile_penetration_percentage"].cast(IntegerType()))

globalmobilepenetration = globalmobilepenetration.withColumn(
    "social_media_users_percentage",
    globalmobilepenetration["social_media_users_percentage"].cast(FloatType()))

globalmobilepenetration.printSchema()
globalmobilepenetration.toPandas()

root
 |-- region: string (nullable = true)
 |-- social_media_users: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- mobile_penetration_percentage: integer (nullable = true)
 |-- social_media_users_percentage: float (nullable = true)

,region,social_media_users,year,mobile_penetration_percentage,social_media_users_percentage
0,Eastern Asia,0.0,2020,70,0.0
1,Northern America,0.0,2020,61,0.0
2,South America,0.0,2020,61,0.0
3,Northern Europe,0.0,2020,59,0.0
4,Central America,0.0,2020,59,0.0
5,Southeast Asia,0.0,2020,56,0.0
6,Oceania,0.0,2020,51,0.0
7,Southern Europe,0.0,2020,50,0.0
8,Western Asia,0.0,2020,46,0.0
9,Western Europe,0.0,2020,45,0.0
10,Caribbean,0.0,2020,44,0.0
11,Global average,0.0,2020,42,0.0
12,Eastern Europe,0.0,2020,40,0.0
13,Northern Africa,0.0,2020,37,0.0
14,Southern Africa,0.0,2020,36,0.0
15,Southern Asia,0.0,2020,22,0.0
16,Western Africa,0.0,2020,12,0.0
17,Central Asia,0.0,2020,8,0.0
18,Eastern Africa,0.0,2020,7,0.0
19,Middle Africa,0.0,2020,6,0.0

In [11]:
globalmobilepenetration = globalmobilepenetration.withColumn(
    "mobile_penetration_percentage",
    globalmobilepenetration["mobile_penetration_percentage"].cast(IntegerType()))
globalmobilepenetration.printSchema()

root
 |-- region: string (nullable = true)
 |-- social_media_users: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- mobile_penetration_percentage: integer (nullable = true)
 |-- social_media_users_percentage: float (nullable = true)

In [12]:
globalmobilepenetration \
    .write \
    .format("parquet") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/warehouse/tabd.db/GlobalMobilePenetration/")