In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import *
import pyspark.sql.functions as f
from pyspark.sql.types import *

spark = SparkSession.builder.master('local[2]').getOrCreate()

In [9]:
# Create a DataFrame from JSON data (automatically infer schema and data types)
# There are other file formats you can read from (e.g., csv, orc, parquet)
# https://spark.apache.org/docs/2.2.0/sql-programming-guide.html#data-sources

# Read Sillicon valley episodes data
data_file="hdfs://hdfs-nn:9000/user/Projeto TABD/Bronze/ListLeastDevelopedCountries.csv"
listleastdevelopedcountries = spark.read.csv(data_file,header=True, sep=";")

In [10]:
listleastdevelopedcountries.printSchema()
listleastdevelopedcountries.show()
listleastdevelopedcountries.toPandas()

root
 |-- Country name: string (nullable = true)
 |-- di_id: string (nullable = true)
 |-- LDC status marker (1=LDC): string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)

+--------------------+-----+-------------------------+----+----+----+----+
|        Country name|di_id|LDC status marker (1=LDC)| _c3| _c4| _c5| _c6|
+--------------------+-----+-------------------------+----+----+----+----+
|         Afghanistan|   AF|                        1|null|null|null|null|
|              Angola|   AO|                        1|null|null|null|null|
|          Bangladesh|   BD|                        1|null|null|null|null|
|               Benin|   BJ|                        1|null|null|null|null|
|              Bhutan|   BT|                        1|null|null|null|null|
|        Burkina Faso|   BF|                        1|null|null|null|null|
|             Burundi|   BI|                        1|null|null|null|null|
|            Cambodia|   KH|                        1|null|null|null|null|
|Central African R...|   CF|                        1|null|null|null|null|
|                Chad|   TD|                        1|null|null|null|null|
|             Comoros|   KM|                        1|null|null|null|null|
|Democratic Republ...|   CD|                        1|null|null|null|null|
|            Djibouti|   DJ|                        1|null|null|null|null|
|             Eritrea|   ER|                        1|null|null|null|null|
|            Ethiopia|   ET|                        1|null|null|null|null|
|              Gambia|   GM|                        1|null|null|null|null|
|              Guinea|   GN|                        1|null|null|null|null|
|       Guinea-Bissau|   GW|                        1|null|null|null|null|
|               Haiti|   HT|                        1|null|null|null|null|
|            Kiribati|   KI|                        1|null|null|null|null|
+--------------------+-----+-------------------------+----+----+----+----+
only showing top 20 rows

,Country name,di_id,LDC status marker (1=LDC),_c3,_c4,_c5,_c6
0,Afghanistan,AF,1,None,None,None,None
1,Angola,AO,1,None,None,None,None
2,Bangladesh,BD,1,None,None,None,None
3,Benin,BJ,1,None,None,None,None
4,Bhutan,BT,1,None,None,None,None
5,Burkina Faso,BF,1,None,None,None,None
6,Burundi,BI,1,None,None,None,None
7,Cambodia,KH,1,None,None,None,None
8,Central African Republic,CF,1,None,None,None,None
9,Chad,TD,1,None,None,None,None
10,Comoros,KM,1,None,None,None,None
11,Democratic Republic of the Congo,CD,1,None,None,None,None
12,Djibouti,DJ,1,None,None,None,None
13,Eritrea,ER,1,None,None,None,None
14,Ethiopia,ET,1,None,None,None,None
15,Gambia,GM,1,None,None,None,None
16,Guinea,GN,1,None,None,None,None
17,Guinea-Bissau,GW,1,None,None,None,None
18,Haiti,HT,1,None,None,None,None
19,Kiribati,KI,1,None,None,None,None
20,Laos,LA,1,None,None,None,None
21,Lesotho,LS,1,None,None,None,None
22,Liberia,LR,1,None,None,None,None
23,Madagascar,MG,1,None,None,None,None
24,Malawi,MW,1,None,None,None,None
25,Mali,ML,1,None,None,None,None
26,Mauritania,MR,1,None,None,None,None
27,Mozambique,MZ,1,None,None,None,None
28,Myanmar,MM,1,None,None,None,None
29,Nepal,NP,1,None,None,None,None
30,Niger,NE,1,None,None,None,None
31,Rwanda,RW,1,None,None,None,None
32,S�o Tom� and Pr�ncipe,ST,1,None,None,None,None
33,Senegal,SN,1,None,None,None,None
34,Sierra Leone,SL,1,None,None,None,None
35,Solomon Islands,SB,1,None,None,None,None
36,Somalia,SO,1,None,None,None,None
37,South Sudan,SS,1,None,None,None,None
38,Sudan,SD,1,None,None,None,None
39,Timor-Leste,TL,1,None,None,None,None
40,Togo,TG,1,None,None,None,None
41,Tuvalu,TV,1,None,None,None,None
42,Uganda,UG,1,None,None,None,None
43,Tanzania,TZ,1,None,None,None,None
44,Vanuatu,VU,1,None,None,None,None
45,Yemen,YE,1,None,None,None,None
46,Zambia,ZM,1,None,None,None,None

In [11]:
listleastdevelopedcountries = listleastdevelopedcountries.selectExpr("`Country name` as country_or_area", "di_id as country_id", "`LDC status marker (1=LDC)` as status", "'9999-01-01' as join_date", "'0' as area_km", "'0' as current_account_balance", "'0' as internet_hosts", "'0' as `telephone_main_lines_in_use`", "'0' as telephone_mobile_celular", "'0' as population",  "'0' as population_rank",  "'0' as internet_users", "'0' as internet_users_percentage", "'0' as internet_user_rank")
listleastdevelopedcountries.toPandas()

,country_or_area,country_id,status,join_date,area_km,current_account_balance,internet_hosts,telephone_main_lines_in_use,telephone_mobile_celular,population,population_rank,internet_users,internet_users_percentage,internet_user_rank
0,Afghanistan,AF,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
1,Angola,AO,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
2,Bangladesh,BD,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
3,Benin,BJ,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
4,Bhutan,BT,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
5,Burkina Faso,BF,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
6,Burundi,BI,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
7,Cambodia,KH,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
8,Central African Republic,CF,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
9,Chad,TD,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
10,Comoros,KM,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
11,Democratic Republic of the Congo,CD,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
12,Djibouti,DJ,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
13,Eritrea,ER,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
14,Ethiopia,ET,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
15,Gambia,GM,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
16,Guinea,GN,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
17,Guinea-Bissau,GW,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
18,Haiti,HT,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
19,Kiribati,KI,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
20,Laos,LA,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
21,Lesotho,LS,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
22,Liberia,LR,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
23,Madagascar,MG,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
24,Malawi,MW,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
25,Mali,ML,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
26,Mauritania,MR,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
27,Mozambique,MZ,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
28,Myanmar,MM,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
29,Nepal,NP,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
30,Niger,NE,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
31,Rwanda,RW,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
32,S�o Tom� and Pr�ncipe,ST,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
33,Senegal,SN,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
34,Sierra Leone,SL,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
35,Solomon Islands,SB,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
36,Somalia,SO,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
37,South Sudan,SS,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
38,Sudan,SD,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
39,Timor-Leste,TL,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
40,Togo,TG,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
41,Tuvalu,TV,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
42,Uganda,UG,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
43,Tanzania,TZ,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
44,Vanuatu,VU,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
45,Yemen,YE,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
46,Zambia,ZM,1,9999-01-01,0,0,0,0,0,0,0,0,0,0

In [12]:
listleastdevelopedcountries = listleastdevelopedcountries.withColumn(
    "country_or_area",
    when(
        (col("country_or_area") == "S�o Tom� and Pr�ncipe"), "Sao Tome and Principe").otherwise(col("country_or_area")))

In [13]:
listleastdevelopedcountries.toPandas()

,country_or_area,country_id,status,join_date,area_km,current_account_balance,internet_hosts,telephone_main_lines_in_use,telephone_mobile_celular,population,population_rank,internet_users,internet_users_percentage,internet_user_rank
0,Afghanistan,AF,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
1,Angola,AO,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
2,Bangladesh,BD,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
3,Benin,BJ,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
4,Bhutan,BT,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
5,Burkina Faso,BF,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
6,Burundi,BI,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
7,Cambodia,KH,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
8,Central African Republic,CF,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
9,Chad,TD,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
10,Comoros,KM,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
11,Democratic Republic of the Congo,CD,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
12,Djibouti,DJ,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
13,Eritrea,ER,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
14,Ethiopia,ET,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
15,Gambia,GM,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
16,Guinea,GN,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
17,Guinea-Bissau,GW,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
18,Haiti,HT,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
19,Kiribati,KI,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
20,Laos,LA,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
21,Lesotho,LS,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
22,Liberia,LR,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
23,Madagascar,MG,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
24,Malawi,MW,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
25,Mali,ML,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
26,Mauritania,MR,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
27,Mozambique,MZ,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
28,Myanmar,MM,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
29,Nepal,NP,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
30,Niger,NE,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
31,Rwanda,RW,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
32,Sao Tome and Principe,ST,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
33,Senegal,SN,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
34,Sierra Leone,SL,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
35,Solomon Islands,SB,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
36,Somalia,SO,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
37,South Sudan,SS,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
38,Sudan,SD,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
39,Timor-Leste,TL,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
40,Togo,TG,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
41,Tuvalu,TV,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
42,Uganda,UG,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
43,Tanzania,TZ,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
44,Vanuatu,VU,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
45,Yemen,YE,1,9999-01-01,0,0,0,0,0,0,0,0,0,0
46,Zambia,ZM,1,9999-01-01,0,0,0,0,0,0,0,0,0,0

In [14]:
listleastdevelopedcountries = listleastdevelopedcountries.withColumn("current_account_balance", listleastdevelopedcountries["current_account_balance"].cast(IntegerType()))
listleastdevelopedcountries = listleastdevelopedcountries.withColumn("internet_hosts", listleastdevelopedcountries["internet_hosts"].cast(IntegerType()))
listleastdevelopedcountries = listleastdevelopedcountries.withColumn("telephone_main_lines_in_use", listleastdevelopedcountries["telephone_main_lines_in_use"].cast(IntegerType()))
listleastdevelopedcountries = listleastdevelopedcountries.withColumn("telephone_mobile_celular", listleastdevelopedcountries["telephone_mobile_celular"].cast(IntegerType()))
listleastdevelopedcountries = listleastdevelopedcountries.withColumn("status", listleastdevelopedcountries["status"].cast(IntegerType()))
listleastdevelopedcountries = listleastdevelopedcountries.withColumn("join_date", listleastdevelopedcountries["join_date"].cast(DateType()))
listleastdevelopedcountries = listleastdevelopedcountries.withColumn("population", listleastdevelopedcountries["population"].cast(IntegerType()))
listleastdevelopedcountries = listleastdevelopedcountries.withColumn("population_rank", listleastdevelopedcountries["population_rank"].cast(IntegerType()))
listleastdevelopedcountries = listleastdevelopedcountries.withColumn("internet_users", listleastdevelopedcountries["internet_users"].cast(IntegerType()))
listleastdevelopedcountries = listleastdevelopedcountries.withColumn("internet_users_percentage", listleastdevelopedcountries["internet_users_percentage"].cast(FloatType()))
listleastdevelopedcountries = listleastdevelopedcountries.withColumn("internet_user_rank", listleastdevelopedcountries["internet_user_rank"].cast(IntegerType()))

listleastdevelopedcountries = listleastdevelopedcountries[['country_or_area','area_km', 'current_account_balance', 'internet_hosts', 'telephone_main_lines_in_use', 'telephone_mobile_celular', 'country_id', 'status', 'join_date','population', 'population_rank', 'internet_users', 'internet_users_percentage', 'internet_user_rank']]

In [15]:
listleastdevelopedcountries.printSchema()

root
 |-- country_or_area: string (nullable = true)
 |-- area_km: string (nullable = false)
 |-- current_account_balance: integer (nullable = true)
 |-- internet_hosts: integer (nullable = true)
 |-- telephone_main_lines_in_use: integer (nullable = true)
 |-- telephone_mobile_celular: integer (nullable = true)
 |-- country_id: string (nullable = true)
 |-- status: integer (nullable = true)
 |-- join_date: date (nullable = true)
 |-- population: integer (nullable = true)
 |-- population_rank: integer (nullable = true)
 |-- internet_users: integer (nullable = true)
 |-- internet_users_percentage: float (nullable = true)
 |-- internet_user_rank: integer (nullable = true)

In [16]:
listleastdevelopedcountries \
    .write \
    .format("parquet") \
    .mode("overwrite") \
    .save("hdfs://hdfs-nn:9000/warehouse/tabd.db/ListLeastDevelopedCountries/")